language: c

os:
  - linux
  - osx

arch:
  - amd64
  - arm64

compiler:
  - gcc
  - clang

before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew install openssl@3 || brew install openssl
    fi
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get update
      sudo apt-get install -y libssl-dev
    fi

script:
  - make clean
  - make
  - file wrk || true
  - ./wrk --version || true
